	body { 
		background-color:#ffebce;
		font-family:MV Boli;}
	
	h1 {
		color:#ffffff;
		text-align:center;
		background-color: #62211b;
		font-family:forte;}
	
	h2 {
		text-align:center;
		color:#62211b;}
		
	h3 {
		text-align:center;
		color:#62211b;}
		
	
	p { color:#62211b;
	text-align:left;}
	
	p.r { color:#62211b;
	text-align:left;
	float:right;}

	h2.left { color:#62211b;
		text-align:left }

	
	ol	{
		background-color: #XXXXXX;
		border: 1px solid #XXXXXX;
			text-align:left;}
		
		
		
		
		
		ul {
			color:#62211b;
		text-align:left;}
		
			ol {
			color:#62211b;
		text-align:left;}
	
	address {
		color:#feffef;
		text-align:center;
		font-size: 150%;}
	
	#container {
		width:1000px;
		margin-left:auto;
		margin-right:auto;
		border: 10px solid #62211b;
			background-color: #fca74a;}
		
		
				#containerright {
		width:585px;
		float:right;
		border: 10px solid #62211b;
		background-color: #fdd08f;
		text-align:center;	
		margin-right:50px;
		  padding: 0px;}
				
						#containerleft {
		width:270px;
		float:left;
		border: 10px solid #62211b;
		background-color: #fdd08f;
		text-align:center;	}
							

			
						#containerbottom {
		margin-right:auto;
		margin-left:auto;
		clear:both;
		margin-bottom:10px;
		border: 10px solid #62211b;
			background-color: #ffebce;
			text-align:center;
			}
	
			

#links {
		width:990px;
		float:none;
	background-color: #32253D;
	text-align: center;
	border: 8px solid #62211b;
}


#ltextbox {
		width:270px;
		float:left;
		background-color: #32253D;
		text-align:left;	}

#rtextbox {
		width:330px;
		float:right;
		background-color: #ffebce;
		text-align:left;	
		margin-right:50px;
		border: .5px solid #62211b;
		}
		
		#midtextbox {
		width:350px;
		margin-left:150px;
		background-color: #ffebce;
		text-align:center;


		}


			
a:link {
    color:#057771;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #057771;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #057771;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
}		
			
	table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #170323;
    text-align: left;
    padding: 8px;
}

tr{
	background-color:#ffebce;
	
}
tr:nth-child(even) {
    background-color: #fdd08f		;
}
	tr.error {
    background-color: #7A5C95;
}




	
	
